.main {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 1em;
}
.main article {
    margin-bottom: 3em;
}
.btn {
    margin: 3em 0;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: skyblue;
    cursor: pointer;
}
.singlejoke {
    border: 2px solid skyblue;
    box-shadow: 5px 5px 10px skyblue;
    padding: 20px;
}
.setdel {
    border: 2px solid black;
    box-shadow: 5px 5px 10px black;
    padding: 20px;
}